.dashboard {
  width: 92%;
  margin: 87px auto auto auto;
}
.dashboard .header h1 {
  font-size: 1.5rem;
}
.dashboard .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.underline {
  width: 100%;
  height: 2px;
  background: #f2f2f2;
}
.header .btns {
  display: flex;
  gap: 0.4rem;
}
.header button {
  background: var(--light-gray-4);
  padding: 0.3rem 0.4rem;
  border-radius: 100%;
  border: none;
  font-size: 1.3rem;
}
.header button svg {
  vertical-align: middle;
}
.header .add {
  font-size: 1.5rem;
}
.appointments-container {
  margin-top: 25px;
  display: grid;
}
.day-section {
  margin: 1.4rem 0;
}
.day-section h2 {
  margin-bottom: 0.4rem;
  text-align: left;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.appointments-container article {
  display: flex;
  justify-content: space-between;
  background: var(--light-gray-4);
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.26rem 0;
}
.appointment-header h1 {
  font-size: 1.4rem;
  font-weight: 600;
}
.appointment-header h2 {
  font-size: 1rem;
  font-weight: 400;
}
.person-header {
  display: grid;
  grid-template-areas:
    "img name"
    "img detail";
  justify-content: center;
  align-items: center;
  grid-gap: 0 0.6rem;
}
.img-person svg {
  font-size: 1.7rem;
}
.person-header > .img-person {
  grid-area: img;
}
.person-header > .name-person {
  grid-area: name;
  font-size: 1.2rem;
  font-weight: 600;
}
.person-header > .detail-person {
  grid-area: detail;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: capitalize;
}
.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.indicators svg {
  font-size: 1.2rem;
}
.operation {
  background: none;
  border: 1px solid var(--black-primary);
  border-radius: 5px;
  padding: 0.2rem 0.2rem;
}
.line {
  height: 1px;
  width: 20px;
  background-color: var(--light-gray-3);
  transform: rotate(90deg);
}
.true {
  color: green;
}
.false {
  color: red;
}
/* Add Modal */
.addModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background: var(--primary-white);
  padding: 1rem 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}
.modal-header h1 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}
.modal-header button:nth-child(1) {
  width: 25px;
  height: 25px;
}
.modal-header button {
  background: none;
  border: none;
  font-size: 1.6rem;
  color: var(--black-primary);
}
.modal-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.input {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 0.4rem;
  border-bottom: 1px solid var(--light-gray-2);
}
.input .title {
  text-transform: capitalize;
}
.input svg {
  vertical-align: middle;
}
.input:active {
  background-color: var(--light-gray-4);
}
.input-desc:active .desc {
  background-color: var(--light-gray-4);
}
.desc {
  border: none;
  outline: none;
  background-color: var(--primary-white);
  width: 92%;
}

.overlay {
  position: fixed;
  z-index: 4000;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background: var(--black-primary-2);
}
.overlay-container {
  position: absolute;
  background: var(--primary-white);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  margin-bottom: 60px;
  height: 250px;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.overlay-input {
  height: 170px;
}
.text-field {
  width: 100%;
  padding: 0.3rem 0.2rem;
  border: none;
  border-bottom: 1px solid var(--light-gray-2);
  outline: none;
}
.datetime-overlay {
  gap: 2rem;
}
.customer-selector {
  gap: 1rem;
  height: 320px;
}
.overlay-container .header h2 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.35rem;
}
.close-overlay {
  position: absolute;
  top: 18px;
  right: 20px;
  background: none;
  border: none;
}
.close-overlay img {
  width: 22px;
}
.customer-list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  height: 230px;
  overflow: auto;
  overflow-x: hidden;
}
.customer-list::-webkit-scrollbar {
  display: none;
}
.customer-list article {
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.6rem 0.5rem;
}
.customer-list article:nth-child(odd) {
  background: var(--light-gray-4);
}
.overlay-footer {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  justify-content: space-between;
}
.btn-overlay {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--dark-blue-2);
  width: 200px;
  transition: all ease 0.1s;
}
.btn-overlay:active {
  transform: scale(0.9);
}
.overlay-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 220px;
}
.radio-container {
  gap: 1rem;
}
.input-radio {
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.input-radio input {
  vertical-align: middle;
}
.input-time {
  position: relative;
  width: 100px;
}
.time-slider {
  transform: rotate(-90deg) translateX(-20px);
  width: 200px;
  height: 80px;
  position: absolute;
  top: -80px;
  left: -45px;
  z-index: 5000;
  opacity: 0;
  outline: none;
}
.month-slider {
  height: 120px;
  top: -95px;
}
.year-slider {
  width: 150px;
  top: -60px;
  left: -10%;
}
.day-slider {
  height: 50px;
}
.slider-value {
  overflow: hidden;
  line-height: 35px;
  height: 90px;
  position: absolute;
  top: -10px;
  left: 45%;
}
.minute-slider-value,
.day-slider-value {
  line-height: 36px;
}
.month-slider-value {
  left: 25%;
}
.slider-value div {
  font-size: 1.2rem;
  transition: all 300ms ease-in-out;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 45px;
  border-top: 1px solid var(--gray-primary);
  border-bottom: 1px solid var(--gray-primary);
}
.fade-selector {
  position: absolute;
  bottom: 45px;
  z-index: 4900;
  width: 240px;
  height: 60px;
  background: linear-gradient(
    to top,
    var(--primary-white),
    var(--primary-white-2)
  );
}
.month-slider-value {
  text-transform: capitalize;
}
