*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  background: var(--primary-white);
}
body {
  font-family: "Poppins", sans-serif;
  display: block;
  overflow: auto;
  overscroll-behavior: none;
}
:root {
  --light-gray-1: #e6eed6;
  --light-gray-2: #dde2c6;
  --light-gray-3: #b6be9c;
  --light-gray-4: #f2f2f2;
  --gray-primary: #bbc5aa;
  --orange-primary: #a72608;
  --black-primary: #090c02;
  --black-primary-2: #1a1b17e1;
  --dark-blue: #0e2225;
  --primary-white: #ffffff;
  --primary-white-1: #ffffff38;
  --text-color: #fff;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  /* switch */
  --active: #fff;
  --active-inner: #090c02;
  --focus: 2px rgba(39, 94, 254, 0.3);
  --border: #bbc1e1;
  --border-hover: #275efe;
  --background: #fff;
  --disabled: #f6f8ff;
  --disabled-inner: #e1e6f9;
}
